<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="has-dflex-center">
      <form action="/createcard" method="POST">
        Create your DevCard
        <div class="form-group">
          <input
            type="text"
            id="name"
            name="fullname"
            class="form-control"
            placeholder="your full name"
          />
        </div>
        <div class="form-group">
          <input
            type="textarea"
            id="aboutme"
            name="aboutme"
            class="form-control"
            placeholder="About me"
          />
        </div>
        <div class="form-group">
          <label for="HTML">HTML</label>
          <input
            type="checkbox"
            id="HTML"
            name="HTML"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="JS">JS</label>
          <input
            type="checkbox"
            id="JS"
            name="JS"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="REACT">REACT</label>
          <input
            type="checkbox"
            id="REACT"
            name="REACT"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="CSS">CSS</label>
          <input
            type="checkbox"
            id="CSS"
            name="CSS"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="GIT">GIT</label>
          <input
            type="checkbox"
            id="GIT"
            name="GIT"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="Node.JS">Node.JS</label>
          <input
            type="checkbox"
            id="Node.JS"
            name="Node.JS"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <input
            type="textarea"
            id="GIThub-URL"
            name="githuburl"
            class="form-control"
            placeholder="Github URL"
          />
        </div>
        <div class="form-group">
          <input
            type="textarea"
            id="Twitter-url"
            name="twitterurl"
            class="form-control"
            placeholder="Twitter url"
          />
        </div>
        <div class="form-group">
          <input
            type="textarea"
            id="Favourite-books"
            name="favouriteBooks"
            class="form-control"
            placeholder="Favourite books"
          />
        </div>
        <div class="form-group">
          <input
            type="textarea"
            id="Favourite-artists"
            name="favouriteArtists"
            class="form-control"
            placeholder="Favourite artists"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Create Site</button>
      </form>
    </main>
  </body>
</html>
